[2016-02-10 07:13] epheterson opened #1 "Install Plugins View : Search/filter plugins"
If I know the name of the plugin I want to add, it'd be nice to filter for it and have only items matching my filter show up in the list. Saves from scrolling and searching :)

[2016-02-10 07:14] epheterson opened #2 "Install Plugins View : Detect which plugins are installed and filter from list"
If I already have `homebridge-cmd` installed, I don't want to go here to install it.

It'd be nice if the plugins either don't show up, or show up and say it's already installed (also showing an update button, when necessary).

[2016-02-10 07:16] epheterson opened #3 "Raw Settings View : Syntax checking"
Prior to uploading the config, it'd be nice if the app verified that the config would actually work by, at the very least, matching all brackets and highlighting issues.

[2016-02-10 07:17] epheterson opened #4 "Upload Config : Always keep backup"
Since a program is doing the updating anyway, it'd be nice if the previous version, or several previous versions, were maintained on disk in the event the user hit 'Upload Config' by accident and lost stuff.

[2016-02-10 07:18] KraigM commented on #1
Def will do.  When I started that feature, I didn't realize exactly how many homebridge plugins there were :smile:.  If only npm exposed their search functionality, I would hook it directly into that.  Unfortunately they do not yet (/facepalm).  But for now I can at least do a quick name search.

[2016-02-10 07:19] epheterson opened #5 "Retitle buttons : Save / Discard Changes"
The words 'Upload' and 'Revert' do make sense, but only after sitting and pondering for a moment. For example, there is no file actually being 'uploaded.'

Save Changes and Discard Changes may be clearer strings to use.

[2016-02-10 07:21] KraigM commented on #4
Good point.  I had thought about keeping a backup simple backup just in case, but I really like the idea of versioning it.

[2016-02-10 07:22] epheterson opened #6 "Auto-Update Feature"
It'd be nice if HomeBridge had an 'Update All' and/or Auto-Update feature to keep my plugins always updated w/out any effort.

This feature should be off by default, but discoverable, as some setups require homebridge never be restarted.

It is possible to update the plugins automatically and present the user with a 'Restart Homebridge' button, similar to how OS X downloads updates then tells the

[2016-02-10 07:25] KraigM commented on #3
Right now it will at least validate the json (sort of). I made sure to read the text into a strong JSON library (Newtonsoft.JSON) before incorporating it.

But yes I REALLY wanted to have a nice JSON editor.  At the very least, I wanted syntax highlighting, but I had trouble finding anything I could incorporate.

Anyone have any suggestions?

[2016-02-10 07:27] KraigM commented on #2
Agreed.

Do you think we should keep plugins that need to be updated?  Honestly it would be easier not to, but thought I would throw the question out there

[2016-02-10 07:30] epheterson commented on #3
Perhaps grab some code from this project?

http://sourceforge.net/projects/jedit/

or

https://github.com/atom/atom

[2016-02-10 07:30] epheterson commented on #3
Or build in a web view?

https://highlightjs.org

[2016-02-10 07:33] KraigM opened #7 "Disable Platforms/Accessories without losing their configs"
This might just be a personal problem (as a homebridge plugin dev), but I am constantly enabling and disabling of plugins for testing.  I have also had cases where I need to disable a platforms that where causing issues (like when the Nest servers went down and it took out everyone's homebridge).

I figure we can use a simple checkbox on the app to move the config to an array that homebridge is no

[2016-02-10 07:33] epheterson commented on #2
Personally, I think the list should exclude anything already installed.

Though, this is not how the App Store works, which shows placeholders that say [ Installed ]

So, I guess I'm actually not 100% either way.

[2016-02-10 07:39] epheterson opened #8 "Relationships between plugins, platforms, and accessories"
This is a complicated problem, actually.

The UI for installed plugins is a bit bare, it'd be nice if within the UI, any associated platforms or plugins were presented. This could quickly give the user an overview of which plugins are being utilized, and which are not, or a tally of how many of their accessories belong to which plugins.

Perhaps in this view there could also be an additional locat

[2016-02-10 07:41] KraigM commented on #6
The first part is def doable but the second part (the restart) is a little more tricky.  I myself have completely diff OS's and both have multiple ways to start homebridge. I started this project assuming people would just have homebridge installed on their Mac but given that I myself don't (RPi) I realized that that was a bad assumption.

I know they are working on a way to update homebridge with

[2016-02-10 07:41] epheterson opened #9 "Unable to delete platform/accessory/plugin"
All items in the left column (save the Hub) should be removable with the Delete key.

All removal operations should prompt the user with Discard / Cancel options.

Deleting platforms/accessories would modify the config.json

Deleting plugins would npm uninstall them. When deleting plugins, the UI should present a list of accessories/platforms that will also be removed with it – ie. the UI should a

[2016-02-10 07:43] KraigM commented on #5
I see where you are coming from.  I was just worried about people being confused when the "save" fails because they lost connection to the homebridge.

[2016-02-10 07:43] epheterson commented on #6
Not having to relaunch to reload the config file is a great idea for homebridge!

In the meantime, if you package homebridge with the UI, you have absolute control over its location on disk, and how it stops/starts. Perhaps this will make it easier for you to relaunch homebridge on the users' behalf?

[2016-02-10 07:45] KraigM commented on #8
There is a tab for the plugin info on platforms and accessories.  My plan was to add all the npm meta info to that plugin info view but haven't gotten around to it.

[2016-02-10 07:45] epheterson commented on #5
The popup seems to take care of that situation nicely.

As a side-note, the popup would be nicer if it appeared within the UI instead of atop the UI, like this :
![disk-utility-first-aid](https://cloud.githubusercontent.com/assets/151483/12941444/4008948a-cf87-11e5-8330-c093b34a53c2.png)

(Should I file a separate bug?)

[2016-02-10 07:47] epheterson commented on #8
Do you see value in listing which accessories/platforms were created from that plugin, within the plugin's view? Or is this information unnecessarily redundant?

[2016-02-10 07:47] KraigM commented on #9
Part of that kinda goes along with #7 but yeah it needs actual removals as well

[2016-02-10 07:49] epheterson commented on #7
When this is implemented, disabled plugins/platforms/accessories should appear disabled or dimmed. Perhaps they should sort into their own area?

[2016-02-10 07:53] epheterson opened #10 "Ability to turn accessory off/on"
Within HomeKit Accessory Simulator, there exists the concept of reachability. It'd be nice to be able to turn an accessory off, without stopping homebridge.

I'm not sure if homebridge offers this functionality for us to expose currently?

This is a subtle difference from disabling plugins/accessories/platforms which will remove them from homebridge's config altogether.

This might only be margina

[2016-02-10 19:26] KraigM commented on #10
So the goal would be to put that HomeKit device into an unreachable state but not actually remove it from HomeKit/HomeBridge?

[2016-02-10 19:31] KraigM opened #11 "Add the ability to view the HomeBridge logs"
There are several times I have wanted to be able to view the homebridge logs without having to mess with redirecting the logs when starting up homebridge, ssh'ing into my RPi, and viewing the files with nano or tail.

I would much rather just open up the app and scroll through the logs or old logs.

It would be really awesome to live update the current logs, to watch the logs as I'm messing with H

[2016-02-10 19:33] KraigM commented on #11
This would really help developers but it would also really help users properly document any issues they are having with HomeBridge

[2016-02-10 19:35] KraigM commented on #5
@epheterson On that last comment, which popup are you talking about?

[2016-02-10 19:38] KraigM opened #12 "No way to cancel the Install Plugin popup while loading"
The first update can take a while to load all the available plugins. This is fine, except for the fact that if you change your mind, you are unable to cancel the process until it finishes loading the plugin metadata.

[2016-02-10 19:56] epheterson commented on #5
1. Start HomeBridgeController w/out having homebridge running
2. Click 'Upload Config'

That popup :)

[2016-02-10 22:50] KraigM commented on #6
ABSOLUTE CONTROL! I like that :smile:

Yeah I figure one way is to bundle it in or at least control the installed version.  Prob with that is getting sandboxing approved.

Another option would be docker. That way it is a closed system that is easily managed.

[2016-02-10 22:55] KraigM commented on #6
I think we can still get it to be "sandboxed" if we bundle it with it but I think that would involve any plugins that use native code to be precompiled and signed.

Another way to get it to be "sandboxed" might be to build a embedded, self installing command line toolset (similar to what Xcode does) that would handle all the auto restart magic via the link.  Or if embedding it doesn't work, it cou

[2016-02-10 22:57] KraigM commented on #6
Or if anyone has some clever node js voodoo, I'm open to suggestions.  NodeJS is not my forte :sweat_smile:

[2016-02-11 00:41] KraigM opened #13 "Properly load new available plugins"
Right now it requires an update to refresh the list of plugins, do to the fact that npm search involves a complete local index of all the things on npm (no I'm not even joking, they download meta data on every single package on the npm registry).

To start, I might just throw a JSON file on S3 that I update, but if anyone else has any better ideas I would love to hear it.

[2016-02-11 00:47] KraigM opened #14 "Add the ability to update homebridge itself"
There is currently a system in place to update plugins (via npmi) but given that that is working, we should be able to install updates to homebridge itself.

[2016-02-11 00:48] KraigM opened #15 "Display package information about plugins and available plugins"
We are currently loading all the npm meta information so we should start displaying that in the plugin info screens.

[2016-02-11 01:30] KraigM commented on #2
Implemented and will be in next release (0.3.0)

[2016-02-11 23:58] tonesto7 commented on #11
I was just coming here to open up this exact request :)

[2016-02-12 02:41] KraigM opened #16 "Need a way to auto restart homebridge after modification"
After we upload a new config or install a new plugin, we need a way to auto restart (or restart on demand).

[2016-02-12 02:43] KraigM commented on #16
This was mentioned on the main readme and there has also been some side bar discussions on #6 but I thought I should go ahead and create this so others can throw out their ideas

[2016-02-12 03:00] AppleTechy commented on #6
@KraigM Can you persist the data? @devbobo Would this be possible, to have it relaunch in its previous state? Not exactly sure if what you ended up doing on the platform-wemo could be applied in a similar fashion to accomplish what we want to achieve.

[2016-02-12 04:28] epheterson commented on #10
Yeah, not sure if we have a use case for it though.

[2016-02-13 03:08] KraigM commented on #3
I was trying to avoid using a web view.  Hybrid apps make me twitch and I didn't want to have to write all the back and forth :smile:.  I ended up finding a native control that supported all kinds of functionality (syntax highlighting, theming, auto complete, folding...) but when I started trying to use it I figured out what they did... they just wrapped a web view :disappointed:.  But it works an

[2016-02-13 03:09] KraigM commented on #3
Atom.io might be a good ref point for when we try to get HomeBridge Controller to install/manage HomeBridge (install, restart, etc).  Good find!

[2016-02-13 03:11] KraigM commented on #14
Done. Will be in the next release (0.3.0)

[2016-02-13 03:16] #3 closed, assigned to KraigM

[2016-02-13 03:17] #2 closed, assigned to KraigM

[2016-02-13 03:17] #14 closed, assigned to KraigM

[2016-02-13 03:28] KraigM opened #17 "Enhance Locating/Selecting/Connecting to HomeBridge"
Right now, HomeBridge Controller just starts listening for a hub.  Once it finds it, it tries to use the configured pin to see if it is authorized.  If not, it will just keep spinning.  So you are unable to connect, you don't know if its because:
A: The HomeBridge is off or doesn't have the plugin installed
B: The HomeBridge pin is incorrect and you need to try again
C: There are multiple HomeBrid

[2016-02-14 19:45] KraigM commented on #17
Finished and will be in next release (0.3.0)

[2016-02-14 19:45] #17 closed, assigned to KraigM

[2016-02-14 22:07] KraigM commented on #13
Thanks to RIG (Random Internet Guy) I was able to create a keyword search from the plugin directly.  Granted there is no guarantee it will be valid in the future, but for now it will work.

http://stackoverflow.com/a/13657540/3578535

[2016-02-14 22:08] KraigM commented on #13
Finished and will be in the next release (0.3.0)

[2016-02-14 22:08] #13 closed, assigned to KraigM

[2016-02-15 00:11] KraigM commented on #15
Added description and link to the homepage.  Eventually we can just embed the home page (possibly even using the markdown file directly), but that can be another item and for now this will work.

[2016-02-15 00:11] KraigM commented on #15
Will be released with 0.3.0

[2016-02-15 00:11] #15 closed, assigned to KraigM

[2016-02-15 03:04] KraigM commented on #4
Im thinking about hooking into Mac's document system.  That way we can offload keeping track of the versions, providing ui to revert, proper integration into mac, etc.

[2016-02-15 03:05] epheterson commented on #4
Sounds like the best way to go for sure! Do you get version history UI for free as well?

[2016-02-15 03:07] KraigM commented on #4
I believe so

[2016-02-15 03:11] KraigM commented on #4
From what I understand, I just teach what the UI is for the document and create a custom document type and it pretty much does it from there.  I think the tricky part will be finding a way to integrate it but disable all the active features (install updates, upload, etc).

[2016-02-16 00:58] tonesto7 opened #18 "HomeBridgeController Crashing Homebridge on start"
'Error: The requested platform 'HomeBridgeControllerLink' was not registered by any plugin.
Feb 15 19:54:08 HomeBridge homebridge[1012]: at API.platform (/usr/lib/node_modules/homebridge/lib/api.js:88:13)
Feb 15 19:54:08 HomeBridge homebridge[1012]: at Server._loadPlatforms (/usr/lib/node_modules/homebridge/lib/server.js:194:45)
Feb 15 19:54:08 HomeBridge homebridge[1012]: at Server.run (/usr/lib/

[2016-02-16 01:18] KraigM commented on #18
There should be another error above it. I'm guessing you might have the same issue someone else reported last night.

There seems to be some issue with some people's npmi package (dependency of homebridge-controller link) not updating and/or not installing all dependencies.

First make sure the npmi dependency is in the plugin modules.  If not run `npm install` in the plugin dir

Next make sure it

[2016-02-16 20:00] tonesto7 commented on #18
I tried all of those suggestions but nothing is working

[2016-02-16 20:16] tonesto7 commented on #18
Actually installing npmi worked after completely removing all node packages and physical files.
I had to re-install all homebridge packages and then npmi and now the service startup error went away

[2016-02-18 13:13] johnschult commented on #16
Since `homebridge` might be started on various OSs in various ways, what about adding a restart command to the `platform` in `.homebridge/config.json`? For example:

[code]

Then everyone could set it to whatever they use to manage `homebridge`. I suppose `homebridge-controllerlink` could just use [child_process.exec](https://nodejs.org/api/child_process.html#child_process_child_process_exec_comma

[2016-02-19 19:13] Chioti commented on #7
+1 This would be great for debugging misbehaving plugins

[2016-02-23 00:45] ghdbwise commented on #18
ERROR LOADING PLUGIN homebridge-controllerlink:
Error: Cannot find module 'npmi/node_modules/npm'

will come up when starting homebridge.
Everything was fine before installing homebridgeController.

After deleting platform ... from config.json. homebridge started again with error hint:

#

ERROR LOADING PLUGIN homebridge-controllerlink:
Error: Cannot find module 'npmi/node_modules/npm'
    at Func

[2016-02-24 17:15] KraigM commented on #18
I guess Im going to take out the optimization I added.  The npm dependency takes a while to install and it needed npm twice (once for npmi and once for the plugin) and it was rebuilding each one.  But given it works for some and not others, I'm just going to go back to the slower installs

Unless anyone else knows some npm voodoo I can do instead?

[2016-02-25 03:01] KraigM commented on #18
Please try out _homebridge-controllerlink 0.3.4_.  I went back to standard dependencies so hopefully it will fix your issues.  Please let me know :+1:

[2016-02-25 11:09] ghdbwise commented on #18
Hi, just tried the new version. HomeBridge came up and is running on my RPi2. So the previously noticed error is gone.
Now i'm going to test your App on the Mac. Coming back soon.

[2016-02-26 14:58] KraigM commented on #18
Closing this since it seems to have worked for you.  Let me know if I need to reopen

[2016-02-26 14:58] #18 closed, assigned to KraigM

[2016-02-26 14:59] KraigM commented on #18
Released in homebridge-controllerlink 0.3.4

[2016-02-27 21:34] KraigM commented on #1
Complete and will be released in version 0.4.0

[2016-02-27 21:34] #1 closed, assigned to KraigM

[2016-02-27 21:42] KraigM opened #19 "Dynamically built UI for editing plugin settings"
Dynamically built UI for editing plugin settings. Possibly even making it so plugin developers can define metadata for their own editors as part of their npm package.

[2016-02-27 21:44] KraigM commented on #19
One option to allowing plugin developers to define there own UI might be to use JSON schema and create a form system that can generate UI based on that.

[2016-02-27 21:46] KraigM opened #20 "Full installation of HomeBridge via the app"
Setup a way for the HomeBridge server to be installed using the app or some sort of install package.

[2016-02-27 21:49] KraigM opened #21 "Get the app on the Mac App Store"
Make whatever changes are necessary to put it on the Mac App Store.

[2016-02-27 21:52] KraigM opened #22 "iOS version of the app (maybe other OS's as well based on request)"
Create iOS version of the app that is able to preform most, if not all, the same functionality.

This should be fairly easy, since I wrote it cross platform.  I only need to add a few things to get it on iOS and even Windows if people want.

[2016-03-05 19:40] KraigM commented on #5
As part of #4 these buttons are being replaced with menu items as well as being renamed.

_Upload Config_ is now just _Save_ to better fit with the integration into the document system (in fact I have no choice without hacking in a way to override it lol). To go along with that, _Revert Config_ is now _Reload from Hub_.

Since _Revert To Last Saved_ is already built into the document versioning sy

[2016-03-05 19:54] KraigM commented on #7
I can def see the use of both #10 as well as this one (#7), but whats the best way to distinguish between the two?  Really either could be "Enable / Disable" so I'm trying to think through what the best terminology is for each.  Here are some options for either that I thought of:
- Enable / Disable
- On / Off
- Attach / Detach
- Insert / Remove (as opposed to Add / Delete for completely removing i

[2016-03-05 20:24] epheterson commented on #5
Sounds good!

[2016-03-05 20:26] epheterson commented on #7
I think I like enable/disable the best, and perhaps when you hover over the button it can clarify what enable and disable means.

[2016-03-06 01:14] KraigM commented on #4
Completed and will be in next release (0.4.0)

[2016-03-06 01:14] #4 closed, assigned to KraigM

[2016-03-06 01:14] KraigM commented on #5
Cool.  Completed and will be in next release (0.4.0)

[2016-03-06 01:14] #5 closed, assigned to KraigM

[2016-03-06 01:14] KraigM commented on #9
Completed and will be in next release (0.4.0)

[2016-03-06 01:14] #9 closed, assigned to KraigM

[2016-03-06 01:17] KraigM commented on #7
@epheterson So I'm guessing you would want On/Off for #10 (still shows up in HomeKit so it doesn't mess up you Homekit settings but is somehow turned off in HomeBridge)?

[2016-03-06 01:22] KraigM commented on #4
This one was a doozy... 800+ lines of code...

But it works and its pretty awesome :grinning:

[2016-03-06 10:06] tvillingett opened #23 "How to use when installed new plugin manually"
Hi,
right now my setup on RPi need to be "sudo npm install ....", but it can run homebridge as the "pi" user.
This means that it fails to install plugins from inside the interface.
So now I install the plugins by hand from ssh to the RPi, is there a way I reload the homebridge setup without restarting the HomeBridgeController?

[2016-03-06 16:04] KraigM commented on #4
Version 0.4.0 has been released

[2016-03-06 18:23] KraigM commented on #23
Does running homebridge with sudo fix the issue?

[2016-03-06 18:39] KraigM opened #24 "Better handle long running installs"
When an install takes too long, the request will timeout and appear to fail.

We can try to integrate with the http continue functionality (possibly).

Another way would be to just send back success when it has started and build another way to check the status.

Ultimately it would also be good to show a progression for the install, but if we handle the continue then we can just create another fea

[2016-03-06 20:48] tvillingett commented on #23
Yes, it did!
I copied the settings from the home/pi/.homebridge to root/.homebridge

[2016-03-06 20:48] #23 closed, assigned to nobody

[2016-03-06 23:59] KraigM opened #25 "LinkVersion check is failing"
If your hub's installed link version is too old, instead of giving you a message telling you to upgrade, it silently does nothing.

[2016-03-07 00:30] KraigM commented on #25
Released with 0.4.1 application

[2016-03-07 00:30] #25 closed, assigned to KraigM

[2016-03-09 05:44] KraigM commented on #7
Completed and will be in next release (0.5.0)

[2016-03-09 05:44] #7 closed, assigned to KraigM

[2016-03-10 04:46] KraigM commented on #24
So for now I just created a quick system for tracking the status installations. We can enhance it later to show progress bars like npm.  From what I can tell, its basically going to involve hacking npm to tell you the progress (like tricking npm into thinking its a tty stream and decode the progress bar or adding listeners to its inner tracking system).

[2016-03-10 04:47] KraigM commented on #24
Completed and will be in the next release (0.5.0)

[2016-03-10 04:47] #24 closed, assigned to KraigM

[2016-03-10 04:52] KraigM opened #26 "Add Progress Indication to Installations"
Right now when you install/update plugins or update the hub, it just spins without any indication of how far along it is.  We need some better way to display that.

On #24, a new installation status system was created, so that could be expanded to provide other progress info (last logs of the installation, percent complete, etc).

[2016-03-10 05:03] KraigM commented on #16
@johnschult Sorry I didn't actually respond to you but I saw this and I think that is a great idea.  We will have to figure out a way to stop the running one first before restarting (due to port conflicts).

To build on that, we could create a script (similar to bin/homebridge) that actually manages the restart when triggered by the plugin.  It should just involve adding another command to the beg

[2016-03-11 20:45] AppleTechy opened #27 "Notify user when no hubs are currently available"
Current when no Homebridge process is found it just displays a blank screen. It would be nice if it displays some sort of error message. I think it would look cleaner if it wasn't a popup error but rather inline on the same windows that if a homebridge process was found would be displayed on.
![Currently Displayed](https://cloud.githubusercontent.com/assets/16282786/13714926/db84f0d8-e78e-11e5-910

[2016-03-12 01:24] luisiam commented on #16
@KraigM How about separating the `restartCommand` to a `stopCommand` and `startCommand`?

[2016-03-12 13:19] johnschult commented on #16
Yeah that was my thought too.

John

On Mar 11, 2016, 8:24 PM -0500, luisiam<notifications@github.com>, wrote:

[2016-03-12 16:05] KraigM opened #28 "Add OAuth process for plugin setup"
We need a way to setup the app to collect OAuth tokens (i.e. have built in client/secret and handling for redirects).  That way plugins can use API's that require developer accounts (like [Nest](https://github.com/KraigM/homebridge-nest)) without making users create there own.

[2016-03-12 16:06] KraigM commented on #28
I will probably use Nest as a guinea pig plugin at first.

[2016-03-12 16:08] KraigM opened #29 "Localize app"
We have homebridge users from all over the world, so it would be good to make the app localized.

[2016-03-12 16:09] KraigM commented on #29
If there are any volunteers to help with the translations, it would be greatly appreciated.

[2016-03-12 17:15] Jo3ytjuh commented on #28
Great thanks !!

[2016-03-12 17:17] Jo3ytjuh commented on #28
This provides an Gui ?? What does it ?? What can i setup using this ?.. And are the any Cons by using it ?? Are my credentials still safe ?..

[2016-03-12 17:21] KraigM commented on #28
The app DOES NOT support the Nest setup (yet).  That app does not send your config anywhere but to the homebridge that it came from.  It stores it locally on you computer (just for revert purposes in case you mess up your config and want to go back).

Its still very much a work in progress and it won't directly help you solve this current prob, but its coming soon.

[2016-03-12 19:38] KraigM commented on #28
@Jo3ytjuh Sorry I may have miss understood you.  Once implemented, yes your credentials will be safe.  The whole concept of OAuth is that the developer sends you to a special page on Nest's website (that Nest has full control of).  When you log in on Nest's website and approve the developer having access, the website will send the developer's app what he needs to connect.  This is the same process

[2016-03-17 03:15] AppleTechy opened #30 "Add a "Name" field"
Currently if you have multiple accessories that use the CMD plugin they only show as CMD. It would be nice if there was either a rename capability or the option to add a "Name" Next to the CMD plugin. This way accesories in you Config can be more accurately described for what they do.
![What it currently displays](https://cloud.githubusercontent.com/assets/16282786/13835303/d408fe70-ebb3-11e5-9929

[2016-03-17 03:20] AppleTechy opened #31 "Log Homebridge crashes"
It would be nice if the controller app can log any homebridge crashes and show the uptime of the process before it crashed along with the exact error message that was given when it crashed. This way it would make it easier to try and determine the rooted cause behind errors. This would still allow the user to have homebridge that is always running but still allow for debugging of errors without ha

[2016-03-17 04:44] KraigM commented on #11
Ok so obviously I have been doing some things ^ lol (even more on the app side). I actually have full live logs streaming to the client (its pretty awesome).

So I was trying to make a nice seamless logging that streams the live logs to the client, however I ran into a design conundrum that I thought I would pose to you guys.  Right now it loads the entire day's log and starts streaming from there

[2016-03-17 04:57] KraigM commented on #16
Still begs the question, how do will that work?  As far as I know (node is not my forte so I could be wrong), the only way to start a process from within node is a child process, which means the calling process would not be able to end without killing the child.  And without killing the calling process, the child wouldn't be able to start (since the previous run would still be running).

Another t

[2016-03-17 05:00] KraigM commented on #31
When the time comes for #11, you will have to try it out and see if it meets some of these needs or if it can be updated to handle some of this

[2016-03-17 21:18] KraigM commented on #30
Given the property "name" is already integrated into homebridge I think I will just reuse that (if provided).

Do you think it is necessary if there is only one (like OnkyoAVR in your screenshot)?

[2016-03-18 00:05] johnschult commented on #16
It will work. The idea is to use `child_process.exec` to run scripts, not to spawn a child process and keep it around. No magic voodoo, I promise :smiling_imp:

Here is a real-world example that I ran on my machine:

[code]

[2016-03-19 21:21] KraigM commented on #11
Guess I will stick with live only for now

[2016-03-20 02:00] KraigM commented on #28
Completed and will be in the next release (0.5.0)

[2016-03-20 02:00] #28 closed, assigned to KraigM

[2016-03-20 02:01] KraigM commented on #30
Complete and will be in next release (0.5.0)

[2016-03-20 02:01] #30 closed, assigned to KraigM

[2016-03-20 02:01] KraigM commented on #11
Complete and will be in the next release (0.5.0)

[2016-03-20 02:01] #11 closed, assigned to KraigM

[2016-03-20 20:13] KraigM commented on #16
@johnschult Good point, but `mysql.server` was designed for that kind of stuff (i.e. no tty). But based on your suggestion, I found out that node has a child process spawn with detached option.

That however still does not cover the issue of the active process has a listener on the same port that the new process will want.  Right now the only way to shutdown homebridge's internal server (buried be

[2016-03-20 20:20] KraigM commented on #16
Im digging through several options right now:
- The best solution I can think of is if we force it to detach from all ports prior to starting the other process.  Trick is how to do that.
- Another possibility it more based on chance, we start the other process and immediately exit, then pray that everything shuts down prior to reaching the homebridge startup code
- We could also create a secondary

[2016-03-20 20:22] KraigM commented on #16
Another possible option:
- Add a process exit listener that does the restart, then exit may shut down the servers prior to hitting our listener (shot in the dark)

[2016-03-20 22:53] KraigM commented on #16
@johnschult Ok I did get this to work (huzzah)

[code]

With that, it will reuse the correct node, all the command line args, environment variables, and what not.  Only issue is that it becomes a rogue process (if you will).  If you started it from terminal, it will lose its connection and it will not output to the terminal anymore.  Even if you redirected the output to a file, it will stop redire

[2016-03-20 23:26] KraigM commented on #31
From the looks of it, the new logger is not capturing crash logs.  We also need it to log closing for any other reason (that way we know it stopped because it shutdown on purpose).

I also the idea of the notifications but that part should prob be a diff item.  Do you mind splitting that off @AppleTechy ?

[2016-03-20 23:27] AppleTechy commented on #31
Nope. I will rename this and create another "issue" for the notification part.

On Sunday, March 20, 2016, KraigM notifications@github.com wrote:

[2016-03-20 23:28] KraigM commented on #31
Correct

[2016-03-20 23:54] AppleTechy opened #32 "Notifications"
The ability to be notified in some form by the application when 1 it encounters a crash or 2 when it encounters an error. Maybe you could click the notification and then be directed to the log file to the line where the error occurred. If you could be notified on the computer you are running the Homebridge Controller on that would be great. Depending on the timeline for a mobile app to be released

[2016-03-20 23:56] AppleTechy commented on #32
Mobile Notification: It would be nice for devs if there was a setting that allowed for the controller to send a notification(PushBullet maybe?) to the user's phone notifying them of a crash and saying if it was successful in restarting homebridge. If possible an option to include the error message given at the time of the crash would be nice.

[2016-03-21 07:41] epheterson opened #33 "Impossible to change 'username' field of homebridge config.json"
I haven't tried the other fields, but I needed to update mine and there is no way to do so using Homebridge Controller. I must find the file and change it manually.

[2016-03-21 14:13] KraigM commented on #33
This could (I suppose) screw things up with the connection (between HomeBridgeController and HomeBridge) since it bases a lot off that info.  However, HomeBridgeController we just need to handle that properly 😄

[2016-03-24 01:14] KraigM commented on #16
For now (unless you guys speak up :smile:) I am going to stick with restarting using the original command.  I am also going to leave it as a manual restart (for now), but I prompt to restart after installations.  I didn't however prompt for it on save/upload (thought it might get annoying).

[2016-03-24 01:23] KraigM commented on #31
@AppleTechy What do you think about it auto restarting when it crashes? (thanks to #16 :smile:)

[2016-03-24 01:27] AppleTechy commented on #31
Sounds good to me. That makes sense to have it restart when it crashes but would prefer if that was an option toggle on/off function. Though I think that may emphasize the need for it to be able log the time of the crash as well if possible the error that was given that caused the crash so the culprit plugin can be tracked down.

[2016-03-24 01:44] AppleTechy opened #34 "Ability to Change Between Different Homebridge Instance w/out Restart"
Currently when wanting to switch between different homebridge instances you must restart the application to then connect to the newest hub. If you want to switch back to interacting with the first instance you have to repeat the entire process which can become annoying when dealing with numerous times in a row. Therefore the ability for it to be constantly looking for homebridge instances even aft

[2016-03-24 01:45] KraigM commented on #34
It should already be storing pins for you (as long as your hubs have different usernames).

[2016-03-24 01:48] AppleTechy commented on #34
Alright I haven't tried that yet as it is a pain to switch between homebridge instances I have limited it to only doing it once. :p

[2016-03-24 01:51] KraigM commented on #34
So I will prob make a "Switch Hubs" menu item that will take you back to the first screen.

Should closing the window also you back?  Im kinda going back and forth on that one.

[2016-03-24 11:12] edelmaca opened #35 "Version number fails to encode and/or decode when in country that uses commas for decimals"
Hello, I've installed the latest Controller App on my Mac and the Latest plugin on my Pi. The Plugin is implemented into the config.json and is starting up without errors. It is visible in the Controller on my Mac. But as soon as i klick on the HomeBridge within the GUI, this Message Pops up.

"Upgraded Plugin Required
You must install at least version 0.4.0 of the homebridge-controllerlink plugin

[2016-03-24 14:16] AppleTechy commented on #35
You need to update the controller plugin. `npm update -g
homebridge-controllerlink`

On Thursday, March 24, 2016, edelmaca notifications@github.com wrote:

[2016-03-24 15:20] edelmaca commented on #35
Thanks for the reply but i have the latest version. Of course i tried to update it after your reply. But that hasn't solved the problem. The message is the same after the "update" and reboot of my Pi and HomeBridge.
PS: I installed the Plugin this morning. So i can't have an older version. It always downloads the latest one.

[2016-03-24 16:06] KraigM commented on #35
I assume you restarted the homebridge after installing?

Also find it in [BonjourBrowser](http://www.macupdate.com/app/mac/13388/bonjour-browser)

Should look something like
<img width="272" alt="messages image 3928471321" src="https://cloud.githubusercontent.com/assets/7624028/14023009/69093f1a-f1b0-11e5-8f19-75305de9d3a4.png">

[2016-03-24 16:59] edelmaca commented on #35
I rebooted the Pi and started HomeBridge after the first installation and after the "update".
I found this one with the BonjourBrowser.
<img width="322" alt="bildschirmfoto 2016-03-24 um 17 48 14" src="https://cloud.githubusercontent.com/assets/17590674/14024581/1326bf02-f1ea-11e5-8a17-8436d33223fe.png">

Does the HomeBridge Version have something to do with that?

[2016-03-24 17:30] KraigM commented on #35
Oh I might know what it is,  what version of HomeBridgeController are you using?  Check for updates

[2016-03-24 17:44] edelmaca commented on #35
As you can see above, I'm using HomebridgeController 0.5.0, the same as you and it is the newest version. I can't get a newer one, not on my pi and not on my Mac. On both devices I'm using the latest update.
Controller: 0.5.0
Plugin: 0.5.0

[2016-03-24 19:24] KraigM commented on #35
Well it uses that link version property to figure that out.  So if the app is 0.5.0 and the link is 0.5.0...

Maybe reinstall the app?

[2016-03-25 01:27] edelmaca commented on #35
I did that too. 😟
I even tried it on another Mac. I got the same message.

[2016-03-25 01:47] AppleTechy commented on #35
Is your homebridge up to date? If so maybe rerun `npm install -g
homebridge-controllerlink`

On Thursday, March 24, 2016, edelmaca notifications@github.com wrote:

[2016-03-25 01:58] edelmaca commented on #35
My homebridge is on 0.3.1, the newest is 0.3.2. I will try to update it. I hope this will fix my problem.

Edit: I tried it to update homebridge, it always stays on 0.3. everything i tried isn't working. i don't know what i can do now. I guess i have to skip this plugin/tool.
As long as my Homebridge is doing fine without it, i´m good.

[2016-03-25 21:39] KraigM commented on #31
I set it up to auto restart but only if the link setup was successful and it wasn't explicitly disabled in the link's config

[2016-03-25 21:39] KraigM commented on #31
Completed and will be in next release 0.6.0

[2016-03-25 21:39] #31 closed, assigned to KraigM

[2016-03-25 22:18] AppleTechy opened #36 "Error When Running Node 5.9.1"
I have a "process out of memory error" when running node 5.9.1 and trying to run the link plugin. I have attached the log below. When I removed the controllerlink from the config.json it started working again. I found online others seemed to encounter similar issues using node version 5.70+( [Click here](https://github.com/nodejs/node/issues/5469))

[2016-03-25 22:23] KraigM commented on #16
What I stated above is completed and will be in the next release 0.6.0.

[2016-03-25 22:23] #16 closed, assigned to KraigM

[2016-03-26 00:14] KraigM commented on #34
On second thought, I like the idea of "Close" closing the hub as well as the window.  Then when you click on the app or on "Open", you will be back on the main screen.  Still going to keep it as one at a time for now.

Thoughts?

[2016-03-26 00:39] AppleTechy commented on #34
Seems good to me... That would make logical sense to do it that way. The
menu would probably be nice as a refinement later on but I don't think both
ways(hub menu or closing the window) are nessscary at this time.

On Friday, March 25, 2016, KraigM notifications@github.com wrote:

[2016-03-26 02:41] KraigM opened #37 "Error from Logger connection"
System.ArgumentNullExceptionArgument cannot be null. Parameter name: Key
Raw
System.Security.Cryptography.SymmetricAlgorithm.set_Key(byte[] value)
Enferra.HomeBridgeController.Application.AccessKey.get_AccessKeyCrypto()
Enferra.HomeBridgeController.Application.AccessKey.EncryptData(string data)
Enferra.HomeBridgeController.Application.AccessKey.CreateToken()
Enferra.HomeBridgeController.Applicatio

[2016-03-26 02:50] KraigM commented on #37
I believe this is the source of an issue where the logger error pops up but it ends up working just fine

[2016-03-26 14:08] KraigM opened #38 "UI Issue when you have too many platforms/accessories"
From tannebil:
"There's a  UI glitch as well. If the number of items in the left pane is longer than the window, the "+" and "-" controls  float over the windows making it way too easy to clock on them rather than the item underneath."

![hbc-1_480](https://cloud.githubusercontent.com/assets/7624028/14060433/45347702-f332-11e5-89d5-dac86a827c47.png)

[2016-03-26 20:23] KraigM commented on #38
Fixed and released in 0.5.1

[2016-03-26 20:23] #38 closed, assigned to KraigM

[2016-03-26 20:23] KraigM commented on #37
Should be fixed in 0.5.1.  If not, please let me know

[2016-03-26 20:23] #37 closed, assigned to KraigM

[2016-03-26 20:42] KraigM commented on #34
Complete and will be in the next release (0.6.0)

[2016-03-26 20:42] #34 closed, assigned to KraigM

[2016-03-27 00:40] KraigM commented on #27
Completed and will be in next release (0.6.0)

[2016-03-27 00:40] #27 closed, assigned to KraigM

[2016-03-27 00:43] KraigM commented on #35
@edelmaca Try version 0.5.1 of the app.  If that doesn't work, I will dig through the code and figure it out

[2016-03-27 00:45] KraigM commented on #35
Actually scratch that, I will go ahead and release version 0.6.0.  I added a message to specify what version the controller thinks your plugin is on

[2016-03-27 17:56] edelmaca commented on #35
Ok, thanks. I will try that out as soon as possible.

Edit: I give it up. i have updated the Controller and the Plugin. Now i´m on 0.6.0 and the Controller says i´m currently on version 60?!
<img width="652" alt="bildschirmfoto 2016-03-28 um 11 45 00" src="https://cloud.githubusercontent.com/assets/17590674/14075594/bb241c16-f4da-11e5-99fe-139845734060.png">

[2016-03-28 09:05] simonrb2000 commented on #20
That would be handy.

[2016-03-28 23:22] KraigM opened #39 "Null Ref"
System.NullReferenceExceptionObject reference not set to an instance of an object
Raw
Enferra.HomeBridgeController.Application.HomeBridgeService<RemoteHomeBridgeLinkDriver, RemoteHomeBridgeLinkDriver.Connection>.<GetPluginTypesAsync>c__asyncF.MoveNext()
Enferra.HomeBridgeController.Application.HubEditorFlowController.SideBarViewController.AddAccessory()

[2016-03-28 23:47] KraigM opened #40 "AutoSave not finishing before close starts"
System.NullReferenceExceptionObject reference not set to an instance of an object
Raw
Enferra.HomeBridgeController.Application.HomeBridgeService<RemoteHomeBridgeLinkDriver, RemoteHomeBridgeLinkDriver.Connection>.AutoSaveDocAsync(HomeBridgeConfig config)
Enferra.HomeBridgeController.Application.HomeBridgeService<RemoteHomeBridgeLinkDriver, RemoteHomeBridgeLinkDriver.Connection>.AutoSaveConfig()
Enf

[2016-03-29 00:09] KraigM commented on #40
Fixed in 0.6.1

[2016-03-29 00:09] #40 closed, assigned to KraigM

[2016-03-29 00:09] KraigM commented on #39
Fixed in 0.6.1

[2016-03-29 00:09] #39 closed, assigned to KraigM

[2016-03-29 00:11] KraigM commented on #35
OH WAIT.  Are you from a country that uses commas as decimal points? (i.e. 19,5 degrees outside lol)

[2016-03-30 04:36] edelmaca commented on #35
Yes, i´m from Germany.

[2016-03-30 06:25] KraigM commented on #35
Ok I bet something is messing up the conversion. I will figure out how to get that fixed prob this week or weekend

[2016-03-30 06:27] edelmaca commented on #35
Perfect. Thank you!

[2016-04-02 20:33] KraigM commented on #36
Fixed in homebridge-controllerlink 0.6.2

[2016-04-02 20:33] #36 closed, assigned to KraigM

[2016-04-02 20:37] KraigM commented on #35
Should be fixed by updating the app to 0.6.2.  It was an issue when the app was reading the version info via Bonjour.

I was able to set my culture for the app to Germany and reproduce the issue with 0.6.1 but not with 0.6.2.

Please try it out and let me know :smile:

[2016-04-02 20:43] KraigM opened #41 "Loading npm info is slow when using a machine like RPi"
Unfortunately the npm calls are taxing on RPi (they fully admit their api is slow).  We need to either find a way to optimize the meta info refresh (like just pulling exactly what you need) or we need to move that to the app, or both.

[2016-04-03 00:21] KraigM opened #42 "Figure out a way to play nice with systemd/init.d"

[2016-04-03 02:34] KraigM commented on #42
Fixed with homebridge-controllerlink 0.6.3

[2016-04-03 02:34] #42 closed, assigned to nobody

[2016-04-03 02:37] AppleTechy commented on #41
As the program is currently running on hardware other than RPIs. I think the best choice would to have the app pull the metadata as we know it has enough processing power to do so along with a better npm api

[2016-04-03 11:05] edelmaca commented on #35
Well done. 👍🏼 it is working now.
Thanks for your work on that problem.

[2016-04-04 13:07] KraigM commented on #35
HUZZAH! Glad it's working now. I really want to make this compatible with everyone.

Speaking of, I assume your native language is not English? Any chance I might be able to convince you to help with localization of the app (changing the app to support multiple languages) in the near future?

[2016-04-04 13:07] #35 closed, assigned to KraigM

[2016-04-07 21:21] Samfox2 commented on #29
I could assist with german...

[2016-04-07 21:25] Samfox2 commented on #22
An iOS app would be great. As it takes "ages" to get it 2 appstore a sideload version could be a good start.

[2016-04-11 23:06] david-loadman opened #43 "TypeError: undefined is not a platform"
I recently installed the plugin using sudo npm -g...., edited the config.json file to add the platform and when home bridge starts I get the following error:

Any suggestions would be appreciated.

[2016-04-17 05:34] epheterson opened #44 "Run homebridge as sudo"
Some plugins (eg. AmazonDash) requires sudo privileges, it'd be nice to be able to do this within homebridge-controller.

[2016-04-17 05:35] epheterson opened #45 "Run homebridge on boot"
It'd be nice if homebridge-controller had the option to run homebridge on boot (with or without launching the homebridge controller UI).

[2016-04-17 05:36] epheterson opened #46 "Make it clear when a user has unsaved changes"
I was modifying a plugin and didn't realize why it wasn't taking effect when I relaunched homebridge. After a bit, I realized it was because I didn't hit Cmd+S. It'd be nice if Homebridge Controller detected when there were unsaved changes, made this visible in the UI, and offered the user the option to save it, and also the option to save it / relaunch homebridge (if necessary).

[2016-04-17 05:38] epheterson opened #47 "Health status of homebridge visible in UI"
It'd be nice to have a little red / green dot beside the 'hub' in the UI to indicate if it's running well, or is currently unloaded. If it's unloaded, clicking on the red dot would offer to start it. If it's green, clicking on the green dot would offer to restart it.

I'm not sure if it's possible to detect unhealthy states of homebridge, for example if it's currently hung / crashed, though if so,

[2016-04-17 05:40] epheterson opened #48 "Fix cut off letters in left column"
See screenshot, the g's are cut off, indicating something wonky happening in the UI.
![screen shot 2016-04-16 at 10 39 18 pm](https://cloud.githubusercontent.com/assets/151483/14585307/2ffc5028-0424-11e6-9345-1c1565791f35.png)

[2016-04-17 05:43] epheterson opened #49 "Quick-open common homebridge paths"
It'd be nice, within the controller UI, to be able to quickly get to :
- The config.json file (in-app editor of the entire file, and/or link to open the file/view in finder)
- The .homebridge directory
- The node_modules folder

[2016-04-17 05:45] epheterson opened #50 "Top-level indicator when updates are ready"
Currently, you have to tab into a plugin's plugin-info tab, or detail view, to see if an update is available. It'd be nice to indicate that an update is ready with a dot (or the like) on the far right of the plugin in the left column.

[2016-04-17 05:45] epheterson commented on #48
If you're addressing UI things, notice how the text can overlap as so :
![screen shot 2016-04-16 at 10 45 18 pm](https://cloud.githubusercontent.com/assets/151483/14585333/f6c2fd88-0424-11e6-8da9-9c0bf85b0435.png)

[2016-04-17 05:48] epheterson opened #51 "Top-level indicator of whether a plugin is enabled/disabled"
It'd be nice to not have to go inside of the plugin to see if it's enabled. An example method would be to dim the icon beside disabled plugin names by 50% or so, and to have it 100% bright to indicate enabled.

[2016-04-17 05:49] epheterson commented on #48
Another one I found is the shadow on the switches seem to be cut off on the bottom :
![screen shot 2016-04-16 at 10 48 50 pm](https://cloud.githubusercontent.com/assets/151483/14585348/7d7bca12-0425-11e6-96bf-598692259ce1.png)

[2016-04-23 18:32] snowdd1 commented on #22
As I am stuck with the unholy iOS / Windows combination I would really like a windows version. Or a web browser version that runs off the raspberry that hosts my homebridge...

[2016-05-26 09:04] chrisgrande opened #52 "Log parsing issue when homebridge started via init script."
![image](https://cloud.githubusercontent.com/assets/825577/15569517/3464777c-22ff-11e6-80fb-dcc4e4a17e71.png)

[2016-06-05 00:24] KraigM commented on #20
Added a rough version for RPi and local install on Mac.  Both fully install, setup, configure, and setup autostart.  The RPi version currently installs directly to an SD card and it installs automatically without any interaction.

Definitely room for improvement but a LOT of work has been put into this and it is definitely a lot easier of an installation.

[2016-06-05 00:25] KraigM commented on #20
Completed and will be in the next version (0.7.0)

[2016-06-05 00:25] #20 closed, assigned to KraigM

[2016-06-05 00:33] KraigM commented on #45
The new local installer (#20) sets up the a launch agent for you.

That being said, I thought about creating a HomeBridgeServer app that would have an embedded node installation.

[2016-06-05 01:18] KraigM commented on #43
Looks like you have an old version of node.  I'm about to release a fix for you (0.6.4) that will support older versions of node.  You will have to let me know if anything else pops up on older versions

[2016-06-05 01:27] KraigM commented on #52
What is happening?

From the looks of it you are running in full debug mode (with environment variable DEBUG=*) so it is getting the debug logs in the output.

Unfortunately if socket.io is included in the logs then every log it sends to the client gets logged in full to the "error log" (as to not effect the standard output).  I explicitly don't stream it down live but the log history is pulled di

[2016-06-05 01:33] KraigM commented on #43
Released fix in 0.6.4

[2016-06-05 01:33] #43 closed, assigned to KraigM

[2016-06-05 22:48] KraigM commented on #48
All fixed and will be in the next release (0.7.0)

[2016-06-05 22:48] #48 closed, assigned to KraigM

[2016-06-06 00:30] KraigM commented on #51
Implemented and will be in the next release (0.7.0)

[2016-06-06 00:30] #51 closed, assigned to KraigM

[2016-06-06 01:06] ogoldberg opened #53 "Would be nice to see and control all my devices."
Or is it supposed to be doing that already and I'm experiencing an issue?

[2016-06-06 01:06] KraigM commented on #53
What do you mean by all your devices?

[2016-06-06 01:08] ogoldberg commented on #53
Lights, locks, etc.

[2016-06-06 01:09] KraigM commented on #53
What I mean is are you talking about HomeKit devices or HomeBridge devices?

[2016-06-06 01:12] ogoldberg commented on #53
I have a wink hub that I literally just finished setting up with homebridge (and had an awful time doing it, but that's not really relevant I guess). I would like to control all the lights and other devices that my wink hub controls through your app. Is this a realistic request? It would be great to actually have a mac app that does everything since I don't always want to use my phone for all that

[2016-06-06 01:13] AppleTechy commented on #53
If all you are running is Wink stuff there was a WinkWeb interface
developed for control on the Mac. I can try to find the Link to the project
if u are interested.?

On Sunday, June 5, 2016, Oren Goldberg notifications@github.com wrote:

[2016-06-06 01:15] KraigM commented on #53
Ah ok so you are talking about HomeKit which right now is not available on Mac.  In theory, I could give you access to the same functionality of HomeKit but only for the HomeBridge devices, but that seems like it could easily become a security hole.  Hopefully we will get HomeKit for Mac this year (WWDC is a week from Tuesday so we prob know then).

[2016-06-06 01:18] ogoldberg commented on #53
@AppleTechy thanks for that. I looked it up. Are you talking about http://austincondiff.com/winkapp/ ? Looks pretty cool. Unfortunately it only does lights though. Do you know of another one?

@KraigM great point about security. I guess I should be a bit more conscientious about that. Looking forward to seeing some interesting announcements come out of WWDC, although I'm feeling pessimistic about

[2016-06-06 01:19] KraigM commented on #53
BTW I just finished up the first rough version of complete initial install/setup of HomeBridge via the app.  There is an installer for Raspberry Pi (full install onto SD card with nice wizard tools right in the app) and one for the local Mac (including the necessary command line tools from Xcode).  But it has not been released yet 😞

Just out of curiosity, what was the hardest part of the install/

[2016-06-06 01:20] AppleTechy commented on #53
That's it the orginal version. Actually a user of homebridge @techyowl made
an updated version. https://github.com/techyowl/WinkWeb Which has control
over a lot more devices

On Sunday, June 5, 2016, Oren Goldberg notifications@github.com wrote:

[2016-06-06 01:21] AppleTechy commented on #53
@Kraigm The issue is the Wink plugin is setup to use API 1 keys/commands
but Wink did an upgrade to server API 2 which isn't backwards compatible.
So new users either have to bother a friend's old API key or use a generic
android app one.

On Sunday, June 5, 2016, KraigM notifications@github.com wrote:

[2016-06-06 01:27] ogoldberg commented on #53
@AppleTechy Cool. Thanks! I'll check it out. This looks pretty good too, once you figure out how to log in: https://winkathome.net/Home.aspx

@KraigM thanks for asking about the hardest part of the homebridge setup. I tried both windows 10 and ubuntu, and then went back to windows 10. There were numerous points really where it boiled down to having the right versions of everything. Node, npm, visu

[2016-06-06 01:31] AppleTechy commented on #53
The API issues has been looked into. Upgrade to plugin is being decided if
it is worth changing as well as contacting Wink about possibly sharing API
keys in a open sourced app

On Sunday, June 5, 2016, Oren Goldberg notifications@github.com wrote:

[2016-06-07 11:14] JangoBritt commented on #29
I have a friend who could help with Spanish and Portugese, if you've got a language file available.

[2016-06-07 11:26] JangoBritt opened #54 "Display Plugin Readme.md in UI"
On the Add Plugin UI, would it be possible to display the whole Readme.md file?

The Description field doesn't give a great amount of information as to what the plugin can do, and it's use-cases. Displaying the whole Readme.MD might help with that.

If you can display this in a scrollable memo box, it would be better than switching to safari for each plugin to see the details of what you want to i

[2016-06-07 13:05] KraigM commented on #29
Awesome that would be great. When the project is a little farther along I will create a language file so we can get this localized.

[2016-06-07 13:07] KraigM commented on #53
Given this can't really be done atm, I am going to go ahead and close this.

[2016-06-07 13:07] #53 closed, assigned to nobody

[2016-06-07 13:09] KraigM commented on #54
Yeah I definitely agree. I will see about maybe adding it in 0.8.0

[2016-06-08 05:00] KraigM commented on #41
Complete and will be in the next release (0.7.0)

[2016-06-08 05:00] #41 closed, assigned to KraigM

[2016-06-08 05:07] KraigM commented on #49
Well for the .homebridge/node_modules directories part, the controller is designed to work remotely (even if it is running on the same machine it is still "remote", as far as the app is concerned it could be a different Mac running it).  So that would kinda cause weird behavior (unless you see something else I am not thinking about.

But the a raw editor for the complete document wouldn't be hard.

[2016-06-08 22:07] JangoBritt opened #55 "Crash after first "restart hub" through Controller Link"
Hey Kraig, I'v just used ControllerLink to modify my config for the first time...

I added Applescript-file, iTunes, cmdSwitch2.

I then added the iTunes platform, and restarted the hub.

Now every time I load homebridge, I get this error:

`events.js:141
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE :::51828
    at Object.exports._errnoException (util.js:870:11)

[2016-06-09 04:54] KraigM commented on #55
Are you sure it's not already up and running in the background?

Do you have something setup to auto start HomeBridge if it stops?   The controller link is designed to restart it by default so if two things try starting it, it will fail.

The only other thing I can think of is that maybe it never quit it the first time and the orig is still running?

[2016-06-09 08:17] JangoBritt commented on #55
OK, yes I see... a reboot fixed that.

I notice though, that on a reboot, the controllerlink takes over the running of homebridge, from my terminal window... Is there any way to get it to do this from the very beginning? or to do it on boot-up?

[2016-06-09 13:29] KraigM commented on #55
Not yet. But if the thing that auto starts for you on boot is handling restarting when it goes out (crash, manual close, etc), then you can configure the link to not auto respawn. That way restarts via the app will only stop homebridge. The config is:
`"restartStyle": "stopOnly"`

Save that config and then reboot (so your launch agent or whatever will restart homebridge). After that you should be

[2016-06-09 13:31] KraigM commented on #55
See the link plugin [README](https://github.com/KraigM/HomeBridgeController/blob/master/homebridge-controllerlink/README.md) for more info on the config

[2016-06-09 13:42] JangoBritt commented on #55
Cheers Kraig.

If the Homebridge is respawned on restart from the controller, Does the controller app have to stay open, or is it a separate background process?

[2016-06-10 08:49] JangoBritt opened #56 "Controller Link doesn't modify config.json"
So I've been playing with this, and having a few issues.

When I add a plugin, and related accessory, it doesn't show up in my config.json in the .homebridge folder... Does the Controller Link have it's own sand-boxed config.json that it's using once you restart the hub?

I have installed the particle plugin, and a particle platform (enabled) and yet, it's not showing up on my HomeKit.

Also, I ha

[2016-06-10 09:05] JangoBritt commented on #56
le Sigh.

Today is a morning of stupid mistakes. Although it highlights a feature request:

when restarting the hub, how about a popup "Do you want to Save Changes to config.json first?"

[2016-06-16 00:18] AppleTechy opened #57 "[Enhancement] Button to delete the local persist and accessory folder"
I am not sure how much this would make sense as it would be limited to only local process of homebridge on the computer you are running the App on. The only way it could be expanded to all homebridge process that are available on a network is if you builtin an SSH tool.

[2016-06-17 01:23] KraigM commented on #54
Completed and will be in next release (0.8.0)

[2016-06-17 01:23] #54 closed, assigned to KraigM

[2016-06-17 01:25] KraigM commented on #55
@JangoBritt No the controller app is completely separate.  The respawn even works remotely (from diff machine)

[2016-06-17 01:26] KraigM commented on #52
???

[2016-06-17 01:27] KraigM commented on #56
This was actually asked for not too long ago #46

[2016-06-17 01:27] #56 closed, assigned to nobody

[2016-06-17 16:27] emdoc12 opened #58 "Config.json help? Cannot get platform to load."
As the title says I can't get this working here. My config.json checks out on jsonlint but its not working. Any help would be great.

{
    "bridge": {
        "name": "Homebridge",
        "username": "D0:00:00:00:00:00",
        "port": 51826,
        "pin": "031-45-154"
    },
    "description": "JSON API",

[code]

}

[2016-06-20 18:25] Rigi03 commented on #45
Hi
Is there a way to make home bridge run on boot up on an already installed home bridge.
Thanks

[2016-06-20 18:30] KraigM commented on #45
@Rigi03 I have a minor fix to do but then you will be able to run the installer and if you already have everything installed how we expect then it should skip those steps and only add the auto start on boot.

Mainly we use nvm so if you didn't then it would install that and set it up accordingly.  The only thing you would have to do (worst case) is reinstall the plugins manually the nvm instance.

[2016-06-20 18:31] KraigM commented on #45
@Rigi03 But to reiterate. There is currently a bug in the local installer that I need to fix. So I wouldn't try it yet

[2016-06-27 17:26] chrisgrande commented on #52
Sorry, I didn't have time to get back around to this - I think there was something wrong with my install, I created a new system using your automated SD card creation and I no longer have this problem.

[2016-06-27 17:26] #52 closed, assigned to nobody

[2016-06-30 05:41] vihanb opened #59 "Nest authentication fails"
[Following the instructions listed under Installation](https://github.com/KraigM/HomeBridgeController#installation). I installed the app, install the npm module, and added the HomeBridgeControllerLink to my homebridge's config.json. I restarted homebridge, and successfully connected to my homebridge hub. I then selected the ["Nest"](https://github.com/KraigM/homebridge-nest) tab under platforms an

[2016-07-02 23:22] epheterson opened #60 "Unable to delete plugins"
It'd be nice to be able to use the ( - ) button to delete plugins if/when I decide they'll no longer be used.

[2016-07-06 16:10] mdod commented on #59
I have this problem as well in the Controller, but if you run homebridge in Terminal, without token listed in the `config.json`, it should give you a token to use.

Does the `config.json` have to look like this?

[code]

[2016-07-06 19:11] mdod opened #61 "Unhanded 'error' event"

[2016-07-06 21:14] #61 closed, assigned to nobody

[2016-07-06 21:15] mdod commented on #61
Nevermind

[2016-07-18 11:20] jaysettle opened #62 "Uninstall method of HomeBridgeController"
Is there another way to uninstall HomeBridgeController other than "sudo npm uninstall -g HomeBridge-ControllerLink" that I should be doing? I have installed and uninstalled on Mac OSX running node and it seems after installing that my PATH's are changed. Installations of other plugins do not land in usr/local/lib/node_modules.

I have it installed on a pi as well and after uninstalling, I can't se

[2016-08-04 09:47] miguelmolez opened #63 "Unable to load homebridge following install of homebridge controller"
After installing homebridge and updating one of my hubs, I get the following error..

Error: bind EADDRINUSE 0.0.0.0:5224
    at Object.exports._errnoException (util.js:837:11)
    at exports._exceptionWithHostPort (util.js:860:20)
    at dgram.js:213:18
    at doNTCallback3 (node.js:440:9)
    at process._tickCallback (node.js:346:17)
    at Function.Module.runMain (module.js:477:11)
    at start

[2016-08-21 20:59] AppleTechy commented on #22
Any update on this? Would appreciate it as I have an ios device running ios 8 without Homekit support and it would be nice to be able to interact with Homebridge/Homekit with it. 👍

[2016-08-22 18:45] PatchworkBoy commented on #63
Ditto...

`[Mon Aug 22 2016 19:32:29 GMT+0100 (BST)] Loading 0 accessories...
events.js:85
      throw er; // Unhandled 'error' event
            ^
Error: listen EADDRINUSE
    at exports._errnoException (util.js:746:11)
    at Server._listen2 (net.js:1129:14)
    at listen (net.js:1155:10)
    at Server.listen (net.js:1240:5)
    at tryCatcher (/usr/local/lib/node_modules/homebridge-controllerlin

[2016-09-12 20:58] tonesto7 commented on #22
+1 to the iOS app version

[2016-10-04 11:36] jimprintsthings opened #64 "After update and subsequent rollback I can't launch hombridge with controller installed."
I get this when HomeBridgeControllerLink is enabled.  This had worked previously.

path.js:8
    throw new TypeError('Path must be a string. Received ' +
    ^

TypeError: Path must be a string. Received undefined
    at assertPath (path.js:8:11)
    at Object.posix.resolve (path.js:426:5)
    at Conf.loadPrefix (/usr/local/lib/node_modules/homebridge-controllerlink/node_modules/npm/lib/config/loa

[2016-10-06 20:31] JangoBritt commented on #64
FYI, I'm getting this too

[2016-10-07 09:55] JangoBritt commented on #22
not sure an App would gain Apple approval, since homebridge basically negates the apple HomeKit authentication chip requirements, but a provisioned .IPA installable app would be wonderful!

[2016-10-07 09:58] JangoBritt commented on #55
So... I never closed this issue, because it still happens from time-to-time, and only a reboot will solve it.

Even with "restartStyle": "stopOnly", every time I kill the homebridge process from the Process monitor, it always restarts another one. For some reason then, there's no way to clear down port 51828, without rebooting the mac.

[2016-10-07 17:26] frodeaux opened #65 "ERROR: Path must be a string"
I love this plugin but I am attempting to install on a fresh Pi and I can not get it to run.  Here are the details and the error it is giving me. I even installed a nest and an eco plug and was able to run them fine. Whenever the homebrige-controllerlink gets setup and put into the config, home bridge bombs.
Any advice would be appreciated. I have tried uninstalling and reinstalling with no luck !

[2016-10-07 17:29] frodeaux commented on #64
same here

[2016-10-08 02:21] jimprintsthings commented on #64
Ohh sweet.  At least I"m not alone.  It was working prior.

[2016-10-10 09:43] ovq commented on #64
same here.

[2016-10-10 09:48] JangoBritt commented on #64
Oh Dear. @KraigM, sounds like there may be a recurring issue. Happy to help Debug.

[2016-10-10 20:20] jimprintsthings commented on #64
Happy to provide logs/whatever you need.

[2016-10-11 10:07] JangoBritt commented on #65
same error as issue #64

[2016-10-14 18:04] Dazzzz commented on #64
Same here. I had Homebridge working great, but I wanted to install HomeBridgeController as well to fix Celcius/ Fahrenheit issues, but I can't get HomeBridge to load now.

[2016-10-18 18:10] Chioti commented on #64
Same issue for me.

[2016-11-01 18:18] a2sheppy commented on #64
Similar here. I had it running when I was using my Mac as a homebridge station, but when I switched to Pi, it broke and I get this error. FWIW, I get this error on several plugins, not just the homebridge-controllerlink one.

[2016-11-01 18:23] a2sheppy commented on #58
The problem is you've got two "platforms" blocks, nested. There should be one level, like this:

[code]

[2016-11-01 18:47] a2sheppy commented on #64
Looking through things, I wonder: could it be using the wrong `node` to run homebridge? There are at least two copies installed: one at /usr/bin/node and the one installed under the pi user that's intended to be used.

[2016-11-04 14:27] RickNunn commented on #65
+1 to this issue :(

[2016-11-05 03:00] jaredmichaelwilliams commented on #64
I was able to fix this by doing the following:

on line 43 of  `/usr/local/lib/node_modules/homebridge-controllerlink/node_modules/npm/lib/config/load-prefix.js`

i changed:

`p = path.resolve(cli.prefix)`

to

`p = path.resolve(String(cli.prefix))`

and on line 21 of `/usr/local/lib/node_modules/homebridge-controllerlink/node_modules/npm/lib/config/set-user.js`

i changed

 `var prefix = path.res

[2016-11-05 13:28] RickNunn commented on #64
@jaredmichaelwilliams this fixed my issue too!

[2016-11-05 21:02] Chioti commented on #64
And for me as well. Thanks!

[2016-11-06 21:27] jimprintsthings commented on #64
@jaredmichaelwilliams This worked here as well. Thank you.

[2016-11-09 01:07] wamatt opened #66 "Hangs on 'setup'"
![image](https://cloud.githubusercontent.com/assets/1271434/20123699/de253306-a5d5-11e6-8f59-4da016386692.png)

[2016-11-11 22:28] LMoesman3004 commented on #65
same error

[2016-12-19 22:51] troystanway opened #67 "Cannot start with latest homebridge?"
Hi, When launching with latest build and latest home bridge on jessie, I get this error all the time when running homebridge: (I have tried npm uninstall and reinstall)

[code]

[2016-12-19 23:07] troystanway commented on #67
After some trial and error I found _jaredmichaelwilliams_ solution to work.
https://github.com/KraigM/HomeBridgeController/issues/64#issuecomment-258587001

[2016-12-19 23:07] #67 closed, assigned to nobody

[2017-01-27 16:32] livefeed commented on #65
I am getting this error, do we know of a fix to it?

[2017-01-27 16:37] livefeed commented on #64
@jaredmichaelwilliams Thank you!!!!! the fix worked for me.

[2017-01-27 20:05] livefeed opened #68 "Help with install"
Hi, hope someone can help me here - I had home bridge running before with a few issues so thought I could use the HomeBridgeController app to do an install for me and clean up the other install, now after running the setup the app does not find my hub and when i run homebridge in terminal I get the follow;

Home-Mac-Mini:~ martinc$ homebridge
[1/27/2017, 3:01:01 PM] Plugin /Users/martinc/node_modu

[2017-02-20 16:25] livefeed opened #69 "Update?"
Hello,

Love this app, is it still in development?
When my homebridge crashes auto start does not seem to kick in :(

[2017-02-28 20:50] rhapsfx commented on #64
Thanks for the fix. Can it be published to the source ?

[2017-04-12 04:14] sirocket commented on #18
Having a similar issue unfortunately on OSX El Capitan, but during the installation process.

When having the usr/local/lib/node_modules directory open I can see the homebridge-controller folder being created but when I receive the error at the end of installation, the folder ends up getting deleted and the node_modules directory gets reverted as if homebridge-controller never installed.

I do hav

[2017-04-12 04:15] sirocket opened #70 "Error During Installation on OSX causes homebridge-controller directory in node_modules directory to delete upon unsuccessful installation"
Hello,

I am having an installation issue on OSX El Capitan.

When having the usr/local/lib/node_modules directory open I can see the homebridge-controller folder being created but when I receive the error at the end of installation, the folder ends up getting deleted and the node_modules directory gets reverted as if homebridge-controller never installed.

I do have npmi and npm directories in th

[2017-04-26 02:27] IMNotMax commented on #64
Thnx for the fix !

[2017-07-30 23:12] livefeed opened #71 "TypeError: chalk.stripColor is not a function error ?"
My homebridge does not want to load anymore, i get this error and don't know how to fix it, any help would be great please.

 Home-Mac-Mini:~ martinc$ homebridge
[7/30/2017, 7:09:57 PM] Warning: skipping plugin found at '/usr/local/lib/node_modules/homebridge-controllerlink' since we already loaded the same plugin from '/Users/martinc/.nvm/versions/node/v4.2.4/lib/node_modules/homebridge-controlle

[2017-08-06 09:59] troystanway commented on #71
I am also getting this error! :(

[2017-08-07 15:52] livefeed commented on #71
Would love to have this back working, is the developer still active on this?

[2017-08-09 20:26] c0mm0n commented on #71
Getting this too.

[2017-08-09 20:31] c0mm0n commented on #71
Got it installed by removing the function (doesn't seem important).

Edit this file : (path from my nix container)
/usr/local/lib/node_modules/homebridge-controllerlink/lib/logger.js

On line 93
Turn this :
`return chalk.stripColor(line + log + '\n');`

into this:
`return line + log + '\n';`

And no more error installing, it's running now. But the OS X app doesn't find it :D

[2017-08-09 20:47] c0mm0n commented on #71
Got it working now, had this issue.
https://github.com/KraigM/HomeBridgeController/issues/64#issuecomment-258587001

So seems the fix I suggest doesn't break the plugin and should get you through.

[2017-08-10 15:01] livefeed commented on #71
Thank you for working on this, I am getting this error;

6/devices.json/
path.js:8
    throw new TypeError('Path must be a string. Received ' +
    ^

TypeError: Path must be a string. Received undefined
    at assertPath (path.js:8:11)
    at Object.posix.resolve (path.js:426:5)
    at Conf.loadPrefix (/Users/martinc/.nvm/versions/node/v4.2.4/lib/node_modules/homebridge-controllerlink/node_module

[2017-08-11 15:41] c0mm0n commented on #71
Solution is in the link I've posted

[2017-08-11 16:05] livefeed commented on #71
Thank you, for some odd reason I have two homebridge folders, fold the one above made the changes you recommended and its working!

[2017-12-17 20:07] CGDaveMac opened #72 "Changed plist settings on my computer"
I ran the HomeBridgeController app and I noticed my Homebridge wasn't launching anymore.  Your program changed com.homebridge.server.plist file in my ~/Library/LaunchAgents to point to:
/Users/kraigm/.homebridge/autorun.err

You really shouldn't be touching these files and overwriting with your personal username.

[2018-07-12 23:48] tvillingett opened #73 "cannot download the mac app"
All access to this object has been disabled

[2018-07-23 07:04] AppleTechy commented on #73
This is project is kinda of half-baked it kinda of got abandoned. If you are looking for a GUI to manage Homebridge I would check out @oznu 's Controller-UI-x which is a web interface. There also going to be some changes coming soon that will make it even better.
*I think I have a copy of the app if you want me to try and reupload it somewhere? Not even sure if it will work